ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0.5rem;
    list-style: none;
    color: black;
}

span:first-child {
    margin-right: 1rem;
}

input {
    height: 1rem;
    margin: 0 1rem;
}

.title {
    font-size: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
}

.accept {
    background-color: green;
}

.deny {
    background-color: red;
}
